services:
  user-mysql:
    image: mysql:latest
    container_name: user_db
    ports:
      - "3307:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user
    volumes:
      - user_mysql_data:/var/lib/commerce_mysql

  product-mysql:
    image: mysql:latest
    container_name: product_db
    ports:
      - "3308:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product
    volumes:
      - product_mysql_data:/var/lib/commerce_mysql

  order-mysql:
    image: mysql:latest
    container_name: order_db
    ports:
      - "3309:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order
    volumes:
      - order_mysql_data:/var/lib/commerce_mysql

  payment-mysql:
    image: mysql:latest
    container_name: payment_db
    ports:
      - "3310:3306"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: payment
    volumes:
      - payment_mysql_data:/var/lib/commerce_mysql

volumes:
  user_mysql_data:
  product_mysql_data:
  order_mysql_data:
  payment_mysql_data: